.left-side {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 490px;
    background-color: #1e2939;
    color: #fff;
}
.right-side {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    width: 830px;
}
.container {
    display: flex;
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 10px 10px 20px 0px hsla(0, 0%, 0%, 0.1);
}
h1{
    font-size: 40px;
    text-align: center;
    color: #1e2939;
    padding: 10px;
    font-style: normal;
    font-family: Georgia;
}
.label {
    color: white;
    padding: 8px;
    font-family: Georgia;
}
.labelFooter {
    color: #1e2939;
    padding: 8px;
    font-family: Georgia;
    font-size: 12px;
}
body {
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0;
    font-family: Georgia;
    font-size: 1rem;
    font-weight: 400;
    padding: 0;
    line-height: 1.5;
    text-align: left;
    background-position: 50% 50%;
}
.btn{
    border: 1px solid #009879;
    background: #009879;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Georgia;
    font-weight: bold;
    color: black;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    display: inline-block;
}
.btn:hover{
    color: white;
    background: #009879;
}

.btn:hover::before{
    height: 180%;
    border-radius: 50% 50% 0% 0%;
}

.footer {
    display: flex;
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
    box-shadow: 10px 10px 20px 0px hsla(0, 0%, 0%, 0.1);
}
.contacts-link {
    color: #595959;
    text-decoration: none;
}
.figcaption{
    color: #595959;
    font-family: Georgia;
    font-style: italic;
    font-size: 10px;
}